.recharts-legend-wrapper {
    display: none;
}

.bar-char {
    background-color: blue;
}

.result-block__block {
    height: 700px;
    width: 100%;
    display: flex;
    background-color: #D9D9D9;
}

.result-block__block-right-paginations-btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ccc;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: #333;
}

.result-block__block-right-paginations img {
    cursor: pointer;
}

.result-block__block-right-paginations ul li {
    margin: 10px 15px;
    list-style: none;
}


.result-block__block-left-results {
    width: 680px;
    height: 136px;
    background-color: #393838;
    margin-top: 282px;
    font-size: 80px;
    border-radius: 0 15px 15px 0;
    padding-left: 125px;
    margin-bottom: 16px;
}

.result-block__block-left h2 {
    width: 486px;
    height: 65px;
    font-size: 48px;
    color: #000;
    letter-spacing: 0;
    margin-left: 118px;
}

@media (max-width: 1210px) {
    .result-block__block {
        height: 500px;
    }

    .result-block__block h2 {
        margin-top: 19px;
    }
}

.result-block__block-left,
.result-block__block-right {
    width: 50%;
}