.results-block-container {
    max-width: 100%;
    height: 700px;
    background-color: #D9D9D9;
    color: #000000;
    font-size: 55px;
    font-weight: bold;
    letter-spacing: 0px;
    margin: 0 auto;
}

.results-block-container-graph {
    width: 720px;
    height: 720px;
    margin: 0 auto;
    background-color: #FFFFFF;
}

.results-block-container-graph span {
    margin: 0 auto;
}